<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Random Phone Numbers Generator
      </h1>
      <h2 class="subtitle">
        Generate a list of random phone numbers
      </h2>
    </div>
  </div>
</section>

<div class="section">
  <div class="container">
    <form [formGroup]="numberForm">
      <div class="columns">
        <div class="column">
          <div class="field has-background-light">
            <label class="label">Enter amount of numbers to generate</label>
            <div class="control">
              <input
                type="number"
                formControlName="amountOfNumbers"
                class="input"
                placeholder="Amount of phone numbers to generate">
              <span *ngIf="maxAmountExceeded" class="has-text-danger">Maximum amount of numbers allowed is 10000</span>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field has-background-light">
            <label class="label">Sort By</label>
            <div class="control">
              <div class="select">
                <select (change)="sortNumbers()" formControlName="sortState">
                  <option class="asc-option" value="asc">Ascending</option>
                  <option value="desc">Descending</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field has-background-light">
            <label class="label">Save</label>
            <div class="control save">
              <button type="button" (click)="saveNumbers()" class="button">Save list to file</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="buttons has-addons is-centered">
      <button
        class="button is-info is-link is-outlined is-fullwidth is-medium"
        (click)="generateNumbers()"
        [disabled]="generatingNumbers"
        [ngClass]="{'is-loading': generatingNumbers}"
      >Generate</button>
    </div>

    <article class="message">
      <div class="message-header">
        <p>Arrangement notice!</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        Numbers are sorted from left to right <b>=======></b>
      </div>
    </article>

    <div class="columns has-background-white">
      <nav class="panel column">
        <p class="panel-heading">
          Phone Numbers
        </p>
        <a *ngIf="!phoneNumbers.length" class="panel-block">
          No phone numbers generated yet!
        </a>

        <div class="phone-list">
          <a *ngFor="let phoneNumber of phoneNumbers" class="panel-block has-text-weight-semibold">
            0{{phoneNumber}}
          </a>
        </div>
      </nav>
    </div>

  </div>
</div>
